<div class="row">
    <div class="col s12">

        {{#each data}}
        <div class="row gamerow" style="background-image: url('/images/Clan{{dataValues.clanName}}SM.png');">
            <div class="col gameoffset">
                <div class="card gamecards" style="background: rgba(250, 250, 250, 0.8);">
                    <div class="card-content">
                        <div class="right center-align delete-game">
                            <i data-game-id="{{dataValues.id}}"
                                class="small material-icons red-text text-darken-4 deleteGameBtn"
                                alt="Delete this game.">cancel</i>
                        </div>
                        <h5 class="gameheader">{{dataValues.charName}}</h5>
                        <strong>of the {{dataValues.clanName}} clan</strong>
                        <div class="divider"></div>
                        <strong><a href="story/{{dataValues.lastStoryId}}" data-game-id={{dataValues.id}}
                                class="continue_game">Continue
                                Game</a></strong>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <a href="/" class="valign-wrapper"><i class="small material-icons">arrow_back</i> Return to Profile</a>

    </div>
</div>